<<<<<<< HEAD
<h1>Editing mem</h1>
=======
<div class="jumbotron center">

<h1>Edit your mem, yo!</h1>
>>>>>>> c15ef2af56191c136dd43567be094b0f55d02f85

<%= render 'form' %>

<%= link_to 'Show', @mem %> |
<%= link_to 'Back', mems_path %>
