<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @mem.description %>
</p>

<% if @mem.user == current_user %>
	<%= link_to 'Edit', edit_mem_path(@mem) %> |
<% end %>

<%= link_to 'Back', mems_path %>
