<div class="jumbotron center">

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel panel-primary"><strong>Question:</strong><br>
  	<%= @mem.question %>
  </div>

  <div class="panel panel-info"><strong>Answer:</strong><br>
  	<%= @mem.answer %>
  </div>


	<% if @mem.user == current_user %>
		<div class="panel-footer">
			<%= link_to 'Edit', edit_mem_path(@mem) %>
		</div>
	<% end %>

</div>