<h1>About us</h1>
<p>Memknow is the best way to easily improve your long term memory. Why cram and feel like you will lose your mind when you can just study whenever you need to kill time? </p> <br>

<p>We utilize the best of <a href="bjorklab.psych.ucla.edu">memory and learning research</a> to integrate learnng into your everyday life because we see <b>life as a constant lesson</b>. </p><br>

<p>We do this by simply telling you the optimal day to study the material you have the hardest time with. No stress, no annoyances, and most importantly, no more cramming.</p>

<!-- Mission/values, what memknow is, how it works, link to research -->