<div class="jumbotron center">
	<h1>Memknow</h1>
	<h2>What do you want to know?</h2>
	<form role="form">
  <div class="form-group">
    <label for="question"></label>
    <input type="text" class="form-control input-lg" id="question" placeholder="Question?">
  </div>
  <div class="form-group">
    <label for="answer"></label>
    <input type="text" class="form-control input-lg" id="answer" placeholder="Answer!">
  </div> <!--make form input less wide and heigher -->

  <button type="submit" class="btn btn-danger btn-lg">Create</button>
</form>
</div>